{{- define "main" -}}
<div class="wrapper list-page">
  <header class="header">
    <h1 class="header-title center">{{ .Title }}</h1>
  </header>
  <main class="page-content" aria-label="Content">


    <section class="flex flex-wrap max-w-prose -mx-2 overflow-hidden">

      <table>
      {{ range .Data.Terms }}

        <tr>
          <td>
        <a class="text-xl font-medium decoration-primary-500 hover:underline hover:underline-offset-2"
          href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
</td>
<td>
        <span class="text-base text-neutral-400">
          {{ .Count }}
        </span>
</td>
      </tr>
      {{ end }}
      </table>
    </section>
  </main>
</div>
{{- end -}}