{{- define "main" -}}
<div class="wrapper list-page">
  <header class="header">
    <h1 class="header-title center">{{ .Title }}</h1>
  </header>
  <main class="page-content" aria-label="Content">
    <section class="flex flex-wrap max-w-prose -mx-2 overflow-hidden">
      {{ range .Data.Terms }}
      <article class="post-item">
        <span class="post-item-title">
          <a class="text-xl font-medium decoration-primary-500" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
        </span>
        <span class="text-base text-neutral-400">
          {{ .Count }}
        </span>
      </article>
      {{ end }}
    </section>
  </main>
</div>
{{- end -}}